<div class="container">
    <div class="nav-container">
        <h1>LoginPage</h1>
        <ul class="nav-item">
            <li class="nav-list"><a class="active">Home</a></li>
            <li class="nav-list"><a href="#">About</a></li>
            <li class="nav-list"><a href="#">Sevices</a></li>
            <li class="nav-list"><a href="#">Contact</a></li>
        </ul>
    </div>

    <div class="form-container">
        <div class="form">
            <h2>LoginPage</h2>
            <label for="username"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="username" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Password" name="password" required>

            <button type="Submit">Login</button>
        </div>
    </div>
    <h4>hello all</h4>
    <h3>Welcome Login to Page.</h3>
    <p>The new and attractive idea of website is now developed.<br>Have a look at it and explore.</p>
</div>